<nav class="navbar bg-lime-200">
  <div class="navbar__content flex items-center p-0 pl-20 my-4">
    <img
      class='text-slate-950'
      width="50px"
      height="50px"
      src="../../src/assets/logo.svg"
      alt="Logo del paseo"
    />
    <ul class="flex items-center justify-evenly w-full p-0 text-colorBlue">
      <li>
        <a
          href="/dogs/"
          class="uppercase"
          >EXCLUSIVOS</a
        >
      </li>
      <li>
        <a
          href="/dogs/index_old"
          class="uppercase"
          >PASEOS</a
        >
      </li>
      <li>
        <a
          href="#"
          class="uppercase"
          >PELUQUERÍA</a
        >
      </li>
      <li>
        <a
          href="#"
          class="uppercase"
          >CONTACTO</a
        >
      </li>
    </ul>
  </div>
</nav>
