---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero/Hero.astro';
import Separator from '@components/Separator/Separator.astro';
import Experience from '@components/Home/Experience.astro';
import Adoption from '@components/Home/Adoption.astro';
---

<Layout title="Welcome to Astro.">
  <Hero />

  <div class="py-20">
    <Separator
      title="Calidad y experiencia"
      textColor="text-slate-700"
      iconColor="text-[#176bc6]"
      lineTopColor="before:bg-slate-700"
      lineBottomColor="after:bg-slate-700"
    />
  </div>

  <Experience />

  <div class="mt-20">
    <Adoption />
  </div>

  <div class="h-[600px]"></div>
</Layout>

<style></style>
